# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
---

# ***********************************************************************
# DO NOT REMOVE OR COMMENT OUT ANY LINES IN THIS FILE.
# SIMPLY APPEND THE REQUIRED VALUES AGAINST THE PARAMETER OF YOUR CHOICE.
# ***********************************************************************

# -----------------------------NFS------------------------------------------------

# This variable is used for mounting NFS share on slurm_control_node, slurm_node, kube_control_plane, kube_node, auth_server, login_node, etcd nodes
# This takes a list of dicts with possible keys server_ip, server_share_path, client_share_path, client_mount_options, nfs_server, slurm_share, k8s_share
# When 'nfs_server' value is true, Omnia will setup NFS server and mount NFS client, provided ansible has SSH access to the server.
# When 'nfs_server' value is false, USER will have to Setup EXTERNAL NFS server with all the necessary permissions and access to the nodes, whereever the NFS share will be mounted.
# In both the cases, the USER must manually update 'server_ip' and 'server_share_path' below with the correct values.
# Setting up of NFS server on Omnia Infrastructure Manager or "localhost" or <admin_ip> is not supported.
# If mount_option values are empty, NFS client will be mounted with these values "nosuid,rw,sync,hard,intr"
# Its mandatory to provide atleast one entry in nfs_client_params
# For the server which must be used as k8s server, must be set to true
# For the server which must be used as slurm share, slurm_share must be set to true
# For benchmarks, either slurm_share or k8s_share will be used. Higher precedence will be given to slurm_share
# Example for single mount file system:
# nfs_client_params:
# nfs_name : str ,Name of the NFS storage resource. The default is "nfs_storage_default".
#     The user can assign any custom string to specify a different NFS storage resource.
# - { server_ip: 10.5.0.101, server_share_path: "/mnt/share", client_share_path: "/home", client_mount_options: "nosuid,rw,sync,hard", nfs_server: true, slurm_share: true, k8s_share: true }
# Example for supporting multiple mount points:
# nfs_client_params:
#    - { server_ip: 198.168.0.1,server_share_path: "/mnt/share1", client_share_path: "/home", client_mount_options: "nosuid,rw,sync,hard", nfs_server: true, slurm_share: false, k8s_share: true }
#    - { server_ip: 198.168.0.2, server_share_path: "/mnt/share2", client_share_path: "/mnt/mount2", client_mount_options: "nosuid,rw,sync,hard", nfs_server: false, slurm_share: true, k8s_share: true}
# Example for multiple mount file system:
# nfs_client_params:
# - { server_ip: 198.168.0.1, server_share_path: "/mnt/share1", client_share_path: "/mnt/mount1", client_mount_options: "nosuid,rw,sync,hard", nfs_server: false , slurm_share: false, k8s_share: true}
# - { server_ip: 198.168.0.2, server_share_path: "/mnt/share2", client_share_path: "/mnt/mount2", client_mount_options: "nosuid,rw,sync,hard", nfs_server: false , slurm_share: true, k8s_share: false}
nfs_client_params:
  - server_ip: "" # Provide the IP of the NFS server
    server_share_path: "/mnt/share/omnia" # Provide server share path of the NFS Server
    client_share_path: /share_omnia
    client_mount_options: "nosuid,rw,sync,hard,intr"
    nfs_server: false
    nfs_name: nfs_slurm
  - server_ip: "" # Provide the IP of the NFS server
    server_share_path: "/mnt/share/openldap" # Provide server share path of the NFS Server
    client_share_path: /home
    client_mount_options: "nosuid,rw,sync,hard,intr"
    nfs_server: false
    nfs_name: nfs_openldap
