# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

# ***********************************************************************
# DO NOT REMOVE OR COMMENT OUT ANY LINES IN THIS FILE.
# SIMPLY APPEND THE REQUIRED VALUES AGAINST THE PARAMETER OF YOUR CHOICE.
# ***********************************************************************


# This variable is used to enable iDRAC telemetry support
# Accepted values:  true or false
idrac_telemetry_support: true

# This variable is used to decide the iDRAC telemetry collection type.
# Supported values:
#   - "victoria"
#   - "kafka"
#   - "victoria,kafka" (to enable both)
# Default: "victoria,kafka"
idrac_telemetry_collection_type: "victoria,kafka"

# These variables are used to configure victoria for telemetry
victoria_configurations:
  # The amount of storage allocated for victoria's persistent volume.
  # Accepted values: in the form of "X[Ki|Mi|Gi|Ti|Pi|Ei]"
  # Default: 8Gi
  persistence_size: "8Gi"

# These variables are used to configure Kafka for telemetry
kafka_configurations:
  # The amount of storage allocated for Kafka's persistent volume.
  # Accepted values: in the form of "X[Ki|Mi|Gi|Ti|Pi|Ei]"
  # Default: 8Gi
  persistence_size: "8Gi"

  # The number of hours to retain Kafka logs before they are deleted.
  # Default: 168 (7 days)
  log_retention_hours: 168

  # The maximum size of Kafka logs (in bytes) before they are deleted.
  # Default: -1 (unlimited)
  log_retention_bytes: -1

  # The maximum size of Kafka log segments (in bytes) before they are deleted.
  # Default: 1073741824 (1 GB)
  log_segment_bytes: 1073741824

  # The number of partitions for each Kafka topic.
  # Increasing this can improve throughput but also increases storage/overhead.
  # Default: 1
  topic_partitions: 1

# LDMS-specific configurations and samplers
ldms_sampler_configurations:
  - plugin_name: meminfo
    config_parameters: ""
    # interval=1000000 indicates data collection every 1 seconds
    activation_parameters: "interval=1000000"

  - plugin_name: procstat2
    config_parameters: ""
    # interval=1000000 indicates data collection every 1 seconds
    activation_parameters: "interval=1000000"

  - plugin_name: vmstat
    config_parameters: ""
    # interval=1000000 indicates data collection every 1 seconds
    activation_parameters: "interval=1000000"

  - plugin_name: loadavg
    config_parameters: ""
    # interval=1000000 indicates data collection every 1 seconds
    activation_parameters: "interval=1000000"

  - plugin_name: slurm_sampler
    # component_id=2, stream=slurm, job_count=8, task_count=8
    # component_id=2, if not specified default value is 0
    # stream=slurm indicates the data stream type
    # job_count=8 if not specified, the default value is 8
    # task_count=8 specify the number of jobs and tasks to monitor 
    config_parameters: "component_id=2 stream=slurm job_count=8, task_count=8"
    # interval=1000000 indicates data collection every 10 seconds
    # offset=0 specifies the time offset for data collection
    activation_parameters: "interval=1000000, offset=0"

  - plugin_name: procnetdev2
    # ifaces=eth0,eth1
    # ifaces=eth0,eth1 specifies the network interfaces to monitor
    # if not specified, all interfaces will be monitored
    config_parameters: ""
    # interval=1000000 indicates data collection every 10 seconds
    # offset=0 specifies the time offset for data collection
    activation_parameters: "interval=1000000, offset=0"
