- name: Pull specific OpenChami image by version tag
  ansible.builtin.command:
    cmd: "podman pull {{ openchami_image_sha }}"
  register: pull_result
  changed_when: "'Image is up to date' not in pull_result.stdout"

- name: Fail if image not pulled successfully
  ansible.builtin.fail:
    msg: "{{ pull_result.stdout }}"
  when: pull_result.rc != 0

- name: Tagging OpenChami image with stable name
  ansible.builtin.command:
    cmd: "podman tag {{ openchami_image_sha }} ghcr.io/openchami/image-build:stable"
  args:
    creates: "/var/lib/containers/storage/overlay-images/{{ openchami_image_sha }}"
  register: tag_result
  changed_when: "'Tagged' in tag_result.stdout"
