# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

- name: Pull specific OpenChami image by SHA
  ansible.builtin.command:
    cmd: "podman pull {{ openchami_image_sha }}"
  register: pull_result
  changed_when: "'Image is up to date' not in pull_result.stdout"

- name: Tagging ochami image with stable name
  ansible.builtin.command:
    cmd: "podman tag {{ openchami_image_sha }} ghcr.io/openchami/image-build:stable"
  args:
    creates: "/var/lib/containers/storage/overlay-images/{{ openchami_image_sha }}"
  register: tag_result
  changed_when: "'Tagged' in tag_result.stdout"

- name: Debug image tagged
  ansible.builtin.debug:
    var: tag_result
    verbosity: 2
