# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
---

- name: Pull image-build image
  ansible.builtin.command:
    cmd: "podman pull {{ image_build_el10 }}"
  register: pull_result
  retries: "{{ pull_image_retries }}"
  delay: "{{ pull_image_delay }}"
  until: pull_result.rc == 0
  changed_when: "'Image is up to date' not in pull_result.stdout"

- name: Fail if image not pulled successfully
  ansible.builtin.fail:
    msg: "{{ pull_result.stdout }}"
  when: pull_result.rc != 0
