apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: {{ kafka.telemetry_topic_name }}
  namespace: {{ telemetry_namespace }}
  labels:
    strimzi.io/cluster: "kafka"
spec:
  partitions: {{ kafka_topic_partitions['idrac_telemetry'] }}
  replicas: 2
  config:
    retention.ms: {{ kafka_log_retention_hours * 3600000 }}
    cleanup.policy: delete
    retention.bytes: {{ kafka_log_retention_bytes }}
