#  Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

{% set types = hostvars['localhost']['idrac_telemetry_collection_type'].split(',') %}
{% if 'kafka' in types %}
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: kafkapump
  namespace: {{ telemetry_namespace }}
  labels:
    strimzi.io/cluster: kafka
spec:
  authentication:
    type: tls
  authorization:
    type: simple
    acls:
      # Producer permissions for idrac_telemetry topic
      - resource:
          type: topic
          name: {{ kafka.telemetry_topic_name }}
          patternType: literal
        operations:
          - Write
          - Create
          - Describe
        host: "*"
      # Producer permissions for ldms topic
      - resource:
          type: topic
          name: ldms
          patternType: literal
        operations:
          - Write
          - Create
          - Describe
          - Read
        host: "*"
      # Consumer group permissions
      - resource:
          type: group
          name: kafkapump-consumer-group
          patternType: prefix
        operations:
          - Read
        host: "*"
      # Additional consumer group for LDMS
      - resource:
          type: group
          name: ldms-consumer-group
          patternType: prefix
        operations:
          - Read
        host: "*"
      # Cluster-level permissions for idempotent producers
      - resource:
          type: cluster
        operations:
          - IdempotentWrite
        host: "*"
{% endif %}
---
{% if hostvars['localhost']['ldms_support'] %}
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: ldms-producer
  namespace: {{ telemetry_namespace }}
  labels:
    strimzi.io/cluster: kafka
spec:
  authentication:
    type: tls
  authorization:
    type: simple
    acls:
      # Producer permissions for ldms topic
      - resource:
          type: topic
          name: ldms
          patternType: literal
        operations:
          - Write
          - Create
          - Describe
          - Read
        host: "*"
      # Consumer group permissions for testing
      - resource:
          type: group
          name: ldms-consumer-group
          patternType: prefix
        operations:
          - Read
        host: "*"
      # Cluster-level permissions
      - resource:
          type: cluster
        operations:
          - IdempotentWrite
        host: "*"
{% endif %}
