# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
# tasks/build_host_lists.yml

- name: Ensure PXE mapping file path is set
  ansible.builtin.assert:
    that: pxe_mapping_file_path is defined
    fail_msg: "pxe_mapping_file_path is not defined. Check provision_config.yml."

- name: Read PXE mapping file (FUNCTIONAL_GROUP_NAME, HOSTNAME, ...)
  community.general.read_csv:
    path: "{{ pxe_mapping_file_path }}"
    key: ADMIN_MAC
  register: pxe_mapping_dict

- name: Initialize per-stack hostname lists
  ansible.builtin.set_fact:
    k8s_cluster_hostnames: []
    slurm_cluster_hostnames: []

- name: Build per-stack hostname lists from PXE mapping
  ansible.builtin.set_fact:
    k8s_cluster_hostnames: >-
      {{
        (k8s_cluster_hostnames + [item.value.HOSTNAME])
        if item.value.FUNCTIONAL_GROUP_NAME in k8s_functional_groups
        else k8s_cluster_hostnames
      }}
    slurm_cluster_hostnames: >-
      {{
        (slurm_cluster_hostnames + [item.value.HOSTNAME])
        if item.value.FUNCTIONAL_GROUP_NAME in slurm_functional_groups
        else slurm_cluster_hostnames
      }}
  loop: "{{ pxe_mapping_dict.dict | dict2items }}"
  loop_control:
    label: "{{ item.value.FUNCTIONAL_GROUP_NAME }} -> {{ item.value.HOSTNAME }}"

- name: Deduplicate host lists
  ansible.builtin.set_fact:
    k8s_cluster_hostnames: "{{ k8s_cluster_hostnames | unique }}"
    slurm_cluster_hostnames: "{{ slurm_cluster_hostnames | unique }}"
    cacheable: true