- label: {{ functional_group_name }}
  members:
    ids:
{% for item in nodes %}
{% if item.value.FUNCTIONAL_GROUP_NAME == functional_group_name %}
      - {{ item.value.XNAME }}
{% endif %}
{% endfor %}
