---
- name: Create telemetry deployment directory
  file:
    path: "{{ hostvars['localhost']['k8s_server_share_path'] }}/telemetry/deployments"
    state: directory
    mode: '0755'

- name: Generate cluster ID
  ansible.builtin.command: uuidgen
  register: cluster_id
  changed_when: false
  # when: existing_cluster_id.resources | length == 0
  no_log: true

- name: Populate telemetry deployment configs
  template:
    src: "{{ item.src }}"
    dest: "{{ hostvars['localhost']['k8s_server_share_path'] }}/telemetry/deployments/{{ item.dest }}"
    mode: '0644'
  loop:
    - { src: 'telemetry/common/gen_certs_script.sh.j2', dest: 'gen_certs_script.sh' }
    - { src: 'telemetry/common/telemetry_secret_creation.yaml.j2', dest: 'telemetry_secret_creation.yaml' }
    - { src: 'telemetry/kustomization.yaml.j2', dest: 'kustomization.yaml' }
    - { src: 'telemetry/idrac_telemetry/idrac_telemetry_statefulset.yaml.j2', dest: 'idrac_telemetry_statefulset.yaml' }
    - { src: 'telemetry/kafka/kafka-san.cnf.j2', dest: 'kafka-san.cnf' }
    - { src: 'telemetry/kafka/kafka-statefulset.yaml.j2', dest: 'kafka-statefulset.yaml' }
    - { src: 'telemetry/victoria/victoria-statefulset.yaml.j2', dest: 'victoria-statefulset.yaml' }
  tags: telemetry_deployment
