#  Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
---

- name: Install make
  ansible.builtin.package:
    name: make
    state: present

- name: Verify values.yaml exists
  ansible.builtin.stat:
    path: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/nersc-ldms-aggr/values.yaml"
  register: values_file_exists

- name: Copy ldms files dir to telemetry nfs share
  ansible.builtin.copy:
    src: files/nersc-ldms-aggr
    dest: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms"
    mode: '0755'
  when: not values_file_exists.stat.exists

- name: Generate ldms_machine_config.json from template
  ansible.builtin.template:
    src: 'telemetry/ldms/ldms_machine_config.json.j2'
    dest: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/nersc-ldms-aggr/ldms_machine_config.json"
    mode: "{{ hostvars['localhost']['file_permissions_644'] }}"

- name: Generate hostmap for ldms
  ansible.builtin.template:
    src: 'telemetry/ldms/host_map.slurm-cluster.json.j2'
    dest: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/nersc-ldms-aggr/host_map.slurm-cluster.json"
    mode: "{{ hostvars['localhost']['file_permissions_644'] }}"
  vars:
    nodes: "{{ hostvars['localhost']['read_mapping_file']['dict'] | dict2items }}"

- name: Clean up previous build artifacts before make
  ansible.builtin.file:
    path: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/nersc-ldms-aggr/{{ item }}"
    state: absent
  failed_when: false
  loop:
    - out_dir
    - manifest.yaml
    - values.yaml

- name: Run make command inside ldms directory
  ansible.builtin.shell: make clean all && make
  changed_when: true
  args:
    chdir: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/nersc-ldms-aggr"

- name: Copy values.yaml to ldms directory
  ansible.builtin.template:
    src: "telemetry/ldms/values.yaml.j2"
    dest: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/nersc-ldms-aggr/values.yaml"
    mode: "{{ hostvars['localhost']['file_permissions_644'] }}"

- name: Copy munge key from slurm config to ldms dir
  ansible.builtin.copy:
    src: "{{ slurm_config_path }}/munge.key"
    dest: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/munge.key"
    mode: "{{ hostvars['localhost']['file_permissions_400'] }}"
    remote_src: true

- name: Load ldmsauth.conf to ldms dir
  ansible.builtin.template:
    src: "telemetry/ldms/ldmsauth.conf.j2"
    dest: "{{ hostvars['localhost']['k8s_client_share_path'] }}/telemetry/ldms/ldmsauth.conf"
    mode: "{{ hostvars['localhost']['file_permissions_600'] }}"
