control_plane_ip: "{{ hostvars['localhost']['k8s_vip'] }}"
kube_token: "{{ kube_token }}"
ca_cert_hash: "{{ ca_cert_hash }}"
oim_ip: "{{ hostvars['localhost']['admin_nic_ip'] }}"
k8s_service_addresses: "{{ hostvars['localhost']['k8s_service_addresses'] }}"
k8s_pod_network_cidr: "{{ hostvars['localhost']['k8s_pod_network_cidr'] }}"
k8s_server_share_path: "{{ hostvars['localhost']['k8s_server_share_path'] }}"
k8s_client_share_path: "{{ hostvars['localhost']['share_path'] }}"
nfs_server: "{{ hostvars['localhost']['k8s_nfs_server_ip'] }}"
