# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
slurm_db_port_default: 3306
slurm_db_type_default: mariadb
slurm_db_username_default: root
slurmctld_service_default_path: '/usr/lib/systemd/system/slurmctld.service'
slurmd_service_default_path: '/usr/lib/systemd/system/slurmd.service'
slurmdbd_service_default_path: '/usr/lib/systemd/system/slurmdbd.service'
sys_env_path: '/etc/environment'
default_real_memory: 4 # This is the minimum default memory in GiB
default_threadspercore: 1
default_corespersocket: 1
share_prefix: "/"
conf_path_items: {}
conf_dict_items: {}
# This validates just the keys and not the values, as native support for this schema is not available from slurm
__conf_keys:
  slurm:
# updated from version 22.08 using cmd -> scontrol show config
    - AccountingStorageBackupHost
    - AccountingStorageEnforce
    - AccountingStorageHost
    - AccountingStorageExternalHost
    - AccountingStorageParameters
    - AccountingStoragePort
    - AccountingStorageTRES
    - AccountingStorageType
    - AccountingStorageUser
    - AccountingStoreFlags
    - AcctGatherEnergyType
    - AcctGatherFilesystemType
    - AcctGatherInterconnectType
    - AcctGatherNodeFreq
    - AcctGatherProfileType
    - AllowSpecResourcesUsage
    - AuthAltTypes
    - AuthAltParameters
    - AuthInfo
    - AuthType
    - BatchStartTimeout
    - BcastExclude
    - BcastParameters
    - BurstBufferType
    - CliFilterPlugins
    # - ClusterName # This will be set from the input "omnia_config.yml"
    - CommunicationParameters
    - CompleteWait
    - CoreSpecPlugin
    - CpuFreqDef
    - CpuFreqGovernors
    - CredType
    - DebugFlags
    - DefMemPerNode
    - DependencyParameters
    - DisableRootJobs
    - EioTimeout
    - EnforcePartLimits
    - Epilog
    - EpilogMsgTime
    - EpilogSlurmctld
    - ExtSensorsType
    - ExtSensorsFreq
    - FederationParameters
    - FirstJobId
    - GetEnvTimeout
    - GresTypes
    - GpuFreqDef
    - GroupUpdateForce
    - GroupUpdateTime
    - HealthCheckInterval
    - HealthCheckNodeState
    - HealthCheckProgram
    - InactiveLimit
    - InteractiveStepOptions
    - JobAcctGatherFrequency
    - JobAcctGatherType
    - JobAcctGatherParams
    - JobCompHost
    - JobCompLoc
    - JobCompPort
    - JobCompType
    - JobCompUser
    - JobContainerType
    - JobCredentialPrivateKey
    - JobCredentialPublicCertificate
    - JobDefaults
    - JobFileAppend
    - JobRequeue
    - JobSubmitPlugins
    - KillOnBadExit
    - KillWait
    - LaunchParameters
    - LaunchType
    - Licenses
    - LogTimeFormat
    - MailDomain
    - MailProg
    - MaxArraySize
    - MaxDBDMsgs
    - MaxJobCount
    - MaxJobId
    - MaxMemPerNode
    - MaxNodeCount
    - MaxStepCount
    - MaxTasksPerNode
    - MCSPlugin
    - MCSParameters
    - MessageTimeout
    - MinJobAge
    - MpiDefault
    - MpiParams
    - NodeFeaturesPlugins
    - OverTimeLimit
    - PluginDir
    - PlugStackConfig
    - PowerParameters
    - PowerPlugin
    - PreemptType
    - PreemptExemptTime
    - PrEpParameters
    - PrEpPlugins
    - PriorityParameters
    - PrioritySiteFactorParameters
    - PrioritySiteFactorPlugin
    - PriorityType
    - PrivateData
    - ProctrackType
    - Prolog
    - PrologEpilogTimeout
    - PrologSlurmctld
    - PrologFlags
    - PropagatePrioProcess
    - PropagateResourceLimits
    - PropagateResourceLimitsExcept
    - RebootProgram
    - ReconfigFlags
    - RequeueExit
    - RequeueExitHold
    - ResumeFailProgram
    - ResumeProgram
    - ResumeRate
    - ResumeTimeout
    - ResvEpilog
    - ResvOverRun
    - ResvProlog
    - ReturnToService
    - RoutePlugin
    - SchedulerParameters
    - SchedulerTimeSlice
    - SchedulerType
    - ScronParameters
    - SelectType
    - SelectTypeParameters
    - SlurmUser
    - SlurmctldAddr
    - SlurmctldDebug
    - SlurmctldLogFile
    - SlurmctldPort
    - SlurmctldSyslogDebug
    - SlurmctldPrimaryOffProg
    - SlurmctldPrimaryOnProg
    - SlurmctldTimeout
    - SlurmctldParameters
    - SlurmdDebug
    - SlurmdLogFile
    - SlurmdParameters
    - SlurmdPidFile
    - SlurmdPort
    - SlurmdSpoolDir
    - SlurmdSyslogDebug
    - SlurmdTimeout
    - SlurmdUser
    - SlurmSchedLogFile
    - SlurmSchedLogLevel
    - SlurmctldPidFile
    - SlurmctldPlugstack
    - SrunEpilog
    - SrunPortRange
    - SrunProlog
    - StateSaveLocation
    - SuspendExcNodes
    - SuspendExcParts
    - SuspendProgram
    - SuspendRate
    - SuspendTime
    - SuspendTimeout
    - SwitchParameters
    - SwitchType
    - TaskEpilog
    - TaskPlugin
    - TaskPluginParam
    - TaskProlog
    - TCPTimeout
    - TmpFS
    - TopologyParam
    - TopologyPlugin
    - TrackWCKey
    - TreeWidth
    - UsePam
    - UnkillableStepProgram
    - UnkillableStepTimeout
    - VSizeFactor
    - WaitTime
    - X11Parameters
  mpi:
    - PMIxCliTmpDirBase
    - PMIxCollFence
    - PMIxDebug
    - PMIxDirectConn
    - PMIxDirectConnEarly
    - PMIxDirectConnUCX
    - PMIxDirectSameArch
    - PMIxEnv
    - PMIxFenceBarrier
    - PMIxNetDevicesUCX
    - PMIxShareServerTopology
    - PMIxTimeout
    - PMIxTlsUCX
  cgroup:
    - CgroupMountpoint
    - CgroupPlugin
    - CgroupSlice
    - SystemdTimeout
    - IgnoreSystemd
    - IgnoreSystemdOnFailure
    - EnableControllers
    - EnableExtraControllers
    - AllowedRAMSpace
    - AllowedSwapSpace
    - ConstrainCores
    - ConstrainDevices
    - ConstrainRAMSpace
    - ConstrainSwapSpace
    - MaxRAMPercent
    - MaxSwapPercent
    - MemorySwappiness
    - MinRAMSpace
    - SignalChildrenProcesses
  slurmdbd: {}
  gres: {}
__default_config:
  cgroup:
    # CgroupAutomount: true
    CgroupPlugin: autodetect
    ConstrainCores: true
    ConstrainDevices: true
    ConstrainRAMSpace: true
    ConstrainSwapSpace: true
  slurm:
    SlurmUser: "{{ slurm_user }}"
    SlurmctldPort: 6817
    SlurmdPort: 6818
    SrunPortRange: "60001-63000"
    StateSaveLocation: "/var/spool/state"
    SlurmdSpoolDir: "/var/spool/slurmd/"
    ReturnToService: 2
    SchedulerType: sched/backfill
    MpiDefault: none
    TaskPlugin: task/cgroup
    ProctrackType: proctrack/cgroup
    PrologFlags: contain
    JobAcctGatherType: jobacct_gather/linux
    JobAcctGatherFrequency: 30
    SelectType: select/linear
    SlurmctldLogFile: "/var/log/slurm/slurmctld.log"
    SlurmdLogFile: "/var/log/slurm/slurmd.log"
    SlurmctldPidFile: /var/run/slurmctld.pid
    SlurmdPidFile: /var/run/slurmd.pid
    AuthType: auth/munge
    CredType: cred/munge
    SlurmctldTimeout: 120
    SlurmdTimeout: 300
    Epilog: "/etc/slurm/epilog.d/logout_user.sh"
  slurmdbd:
    AuthType: auth/munge
    LogFile: "/var/log/slurm/slurmdbd.log"
    PidFile: /var/run/slurmdbd.pid
    SlurmUser: "{{ slurm_user }}"
    StorageType: accounting_storage/mysql
    StorageLoc: slurm_acct_db
  gres:
    AutoDetect: nvml
