apiVersion: v1
kind: Service
metadata:
  name: "{{ idrac_telemetry_service_name }}"
  namespace: "{{ telemetry_namespace }}"
  labels:
    app: "{{ idrac_telemetry_service_name }}"
spec:
  clusterIP: None
  ports:
    - name: mysql-port-1
      port: "{{ mysqldb_container_port1 }}"
    - name: mysql-port-2
      port: "{{ mysqldb_container_port2 }}"
  selector:
    app: "{{ idrac_telemetry_k8s_name }}"