
apiVersion: v1
kind: Service
metadata:
  name: "{{ victoria.service_name }}"
  namespace: "{{ telemetry_namespace }}"
  labels:
    app: "{{ victoria.app_name }}"
spec:
  type: LoadBalancer
  selector:
    app: "{{ victoria.app_name }}"
  ports:
    - port: 8428
      targetPort: 8428
