image:
  registry: docker.io
  repository: {{ kafka_image_repo }}
  tag: {{ kafka_image_tag }}

replicaCount: 1

service:
  type: LoadBalancer
  port: {{ kafka_container_port }}
externalAccess:
  enabled: false

headless:
  enabled: true
  ports:
    broker: {{ kafka_container_port }}

persistence:
  enabled: true
  storageClass: {{ storage_class_name }}
  size: "{{ hostvars['localhost']['kafka_configurations']['persistence_size'] }}"

nodeSelector:
  node-role.kubernetes.io/control-plane: ""
tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

kraft:
  enabled: true
  clusterId: ""           # Automatically generate
  controllerQuorumVoters: ""  # Auto-configure for single replica

provisioning:
  enabled: true
  topics:
    - name: {{ telemetry_topic_name }}
      partitions: "{{ hostvars['localhost']['kafka_configurations']['topic_partitions'] }}"

zookeeper:
  enabled: false

listeners:
  client:
    protocol: PLAINTEXT

listenerSecurityProtocolMap: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
interBrokerListenerName: PLAINTEXT

controllerListenerNames: CONTROLLER

extraEnvVars:
  - name: ALLOW_PLAINTEXT_LISTENER
    value: "yes"
