{% for key in apply_config['cgroup'] | sort %}
{% set val = apply_config['cgroup'][key] %}
{% if val is not none and val != omit %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endif %}
{% endfor %}