ClusterName={{ cluster_name }}
{% for ctld in ctld_list %}
SlurmctldHost={{ ctld }}
{% endfor %}
{% if slurm_installation_type == configless_slurm  %}
{% set slurm_ctld_parameters = (slurm_ctld_parameters | default([]) ) + ['enable_configless'] %}
{% endif %}
{% if slurm_ctld_parameters | length > 0 %}
SlurmctldParameters={{ slurm_ctld_parameters | join(',') }}
{% endif %}
PluginDir={{ installroot }}{{ plugin_slurm_dir }}

{# Job completion logs on workloads NFS, only if workloads share is defined #}
{% if slurm_workloads_logs_path is defined %}
JobCompType=jobcomp/filetxt
JobCompLoc={{ slurm_workloads_logs_path }}/slurm_jobs.log
{% endif %}

{% for key in apply_config['slurm'] | sort %}
{% set val = apply_config['slurm'][key] %}
{% if val is not none and val != omit %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endif %}
{% endfor %}

# SLURM DBD
{% if dbd_list %}
AccountingStorageHost={{ dbd_list[0] }}
AccountingStoragePort={{ slurm_dbd_port }}
AccountingStorageType=accounting_storage/slurmdbd
{% endif %}

# COMPUTE NODES
NodeName=DEFAULT State=UNKNOWN
# TODO: Default case no compute nodes to be handled
{% for cmpt in (cmpt_list | default([])) %}
NodeName={{ cmpt }}{% for k in node_params[cmpt] %} {{ k }}={{ node_params[cmpt][k] }}{% endfor %}

{% else %}
NodeName=localhost State=UNKNOWN
{% endfor %}
{% set all_login_nodes = (login_list | default([])) + (compiler_login_list | default([])) %}
{% for login_node in all_login_nodes %}
NodeName={{ login_node }}
{% endfor %}

# PARTITION INFO
PartitionName=DEFAULT Nodes=ALL Default=YES MaxTime=INFINITE State=UP
{% if cmpt_list %}
PartitionName={{ slurm_partition_name }} Nodes={{ cmpt_list | join(',') }} MaxTime=INFINITE State=UP
{% endif %}
{% for i in partitions %}
PartitionName={{ i.PartitionName }}{% for k in i | sort if k != 'PartitionName' %} {{ k }}={{ 'YES' if i[k] is sameas true else ('NO' if i[k] is sameas false else i[k]) }}{% endfor %}
{% endfor %}
