# ADD DEFAULTS
{% for key in apply_config['slurmdbd'] | sort %}
{% set val = apply_config['slurmdbd'][key] %}
{% if val is not none and val != omit %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endif %}
{% endfor %}

DbdHost={{ ctld_list[0] }}
DbdPort={{ slurm_dbd_port }}
PluginDir={{ installroot }}{{ plugin_slurm_dir }}
# DATABASE INFO
StorageHost={{ ctld_list[0] }}
{% if slurm_db_port is not none and slurm_db_port != omit %}
StoragePort={{ slurm_db_port }}
{% endif %}
StorageUser={{ slurm_dbd_db_username }}
StoragePass={{ slurm_db_password }}