name: Ansible Lint

on:
  pull_request:
    branches:
      - main
      - staging
      - release_1.7.1
      - pub/local_repo_arch
      - pub/provision_arch
      - pub/ochami
      - pub/ochami_aarch64
      - pub/k8s_telemetry
      - pub/ib_support
      - pub/v2.1_rc1

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible and Ansible Lint
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core

      - name: Install Ansible Collections from requirements.yml
        run: |
          ansible-galaxy collection install -r .config/requirements.yml --force

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          args: --config=.config/ansible-lint.yml
